.footer {
	font-family: "Chubbo Variable";
	color: #43372e;
	padding: 125px 150px 10px 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-left {
	font-size: 20px; /* Adjust the font size for smaller screens */
}

.footer-right {
	font-size: 20px; /* Adjust the font size for smaller screens */
}

.footer-right a {
	color: #43372e;
	margin-left: 10px;
	text-decoration: none;
}

/* Media Queries */
@media (max-width: 768px) {
	/* Styles for mobile devices */
	.footer {
		flex-direction: row; /* Revert to horizontal layout on smaller screens */
		justify-content: space-between;
		align-items: center;
		font-size: 16px; /* Adjust the font size for smaller screens */
		padding: 50px;
	}

	.footer-left,
	.footer-right {
		width: auto; /* Allow the sections to occupy their natural width */
		margin-bottom: 0; /* Remove the spacing between the sections */
		font-size: 16px;
	}
}
