.navbar {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 150px 10px 150px;
}

.logo {
	max-width: 200px;
}

.sign-in-nav {
	text-decoration: none;
}

.sign-in-nav p {
	font-size: 25px;
	font-family: "Grenette Pro";
	color: #43372e;
}

/* Media Queries */
@media (max-width: 768px) {
	/* Styles for mobile devices */
	.navbar {
		flex-direction: column;
		padding: 20px;
	}

	.logo {
		max-width: 150px;
		margin-bottom: 20px;
	}

	.sign-in-nav p {
		font-size: 20px;
	}
}
