@font-face {
	font-family: "GT Alpina";
	src: url("fonts/GT-Alpina/GT-Alpina-Standard-Bold-Italic-Trial.otf")
		format("opentype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "GT Alpina";
	src: url("fonts/GT-Alpina/GT-Alpina-Standard-Bold-Trial.otf")
		format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "GT Alpina";
	src: url("fonts/GT-Alpina/GT-Alpina-Standard-Light-Italic-Trial.otf")
		format("opentype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "GT Alpina";
	src: url("fonts/GT-Alpina/GT-Alpina-Standard-Light-Trial.otf")
		format("opentype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "GT Alpina";
	src: url("fonts/GT-Alpina/GT-Alpina-Standard-Medium-Italic-Trial.otf")
		format("opentype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "GT Alpina";
	src: url("fonts/GT-Alpina/GT-Alpina-Standard-Medium-Trial.otf")
		format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "GT Alpina";
	src: url("fonts/GT-Alpina/GT-Alpina-Standard-Regular-Italic-Trial.otf")
		format("opentype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "GT Alpina";
	src: url("fonts/GT-Alpina/GT-Alpina-Standard-Regular-Trial.otf")
		format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Bold-Italic-Trial.otf")
		format("opentype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Bold-Trial.otf")
		format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Light-Italic-Trial.otf")
		format("opentype");
	font-weight: lighter;
	font-style: italic;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Light-Trial.otf")
		format("opentype");
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Medium-Italic-Trial.otf")
		format("opentype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Medium-Trial.otf")
		format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Regular-Italic-Trial.otf")
		format("opentype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Regular-Trial.otf")
		format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Thin-Italic-Trial.otf")
		format("opentype");
	font-weight: lighter;
	font-style: italic;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Thin-Trial.otf")
		format("opentype");
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: "Futura";
	src: url("fonts/Futura/Futura Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Futura Condensed";
	src: url("fonts/Futura/Futura Bold Condensed Oblique.otf") format("opentype");
	font-weight: bold;
	font-style: oblique;
}

@font-face {
	font-family: "Futura Condensed";
	src: url("fonts/Futura/Futura Bold Condensed.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Futura";
	src: url("fonts/Futura/Futura Bold Italic.otf") format("opentype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Futura";
	src: url("fonts/Futura/Futura Bold Oblique.otf") format("opentype");
	font-weight: bold;
	font-style: oblique;
}

@font-face {
	font-family: "Futura";
	src: url("fonts/Futura/Futura Bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Futura";
	src: url("fonts/Futura/Futura BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Futura";
	src: url("fonts/Futura/Futura Book.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Futura";
	src: url("fonts/Futura/Futura Condensed ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Futura Condensed";
	src: url("fonts/Futura/Futura Condensed.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Futura Condensed";
	src: url("fonts/Futura/Futura Extra Bold Condensed Oblique.otf")
		format("opentype");
	font-weight: 800;
	font-style: oblique;
}

@font-face {
	font-family: "Futura Condensed";
	src: url("fonts/Futura/Futura Extra Bold Condensed.otf") format("opentype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Futura";
	src: url("fonts/Futura/Futura Heavy.otf") format("opentype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Futura";
	src: url("fonts/Futura/Futura Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Futura Condensed";
	src: url("fonts/Futura/Futura Light Condensed Oblique.otf") format("opentype");
	font-weight: lighter;
	font-style: oblique;
}

@font-face {
	font-family: "Futura Condensed";
	src: url("fonts/Futura/Futura Light Condensed.otf") format("opentype");
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: "Futura";
	src: url("fonts/Futura/Futura Light.otf") format("opentype");
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: "Futura Condensed";
	src: url("fonts/Futura/Futura Medium Condensed Oblique.otf")
		format("opentype");
	font-weight: 500;
	font-style: oblique;
}

@font-face {
	font-family: "Futura Condensed";
	src: url("fonts/Futura/Futura Medium Condensed.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Futura";
	src: url("fonts/Futura/Futura Medium Italic.otf") format("opentype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Futura";
	src: url("fonts/Futura/Futura Medium Oblique.otf") format("opentype");
	font-weight: 500;
	font-style: oblique;
}

@font-face {
	font-family: "Futura";
	src: url("fonts/Futura/Futura Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Futura";
	src: url("fonts/Futura/Futura Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	font-family: "GT Alpina";
	background-color: #dee3c6;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
