@font-face {
	font-family: "GT Alpina";
	src: url("fonts/GT-Alpina/GT-Alpina-Standard-Bold-Italic-Trial.otf")
		format("opentype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "GT Alpina";
	src: url("fonts/GT-Alpina/GT-Alpina-Standard-Bold-Trial.otf")
		format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "GT Alpina";
	src: url("fonts/GT-Alpina/GT-Alpina-Standard-Light-Italic-Trial.otf")
		format("opentype");
	font-weight: lighter;
	font-style: italic;
}

@font-face {
	font-family: "GT Alpina Lighter";
	src: url("fonts/GT-Alpina/GT-Alpina-Standard-Light-Trial.otf")
		format("opentype");
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: "GT Alpina";
	src: url("fonts/GT-Alpina/GT-Alpina-Standard-Medium-Italic-Trial.otf")
		format("opentype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "GT Alpina";
	src: url("fonts/GT-Alpina/GT-Alpina-Standard-Medium-Trial.otf")
		format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "GT Alpina";
	src: url("fonts/GT-Alpina/GT-Alpina-Standard-Regular-Italic-Trial.otf")
		format("opentype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "GT Alpina";
	src: url("fonts/GT-Alpina/GT-Alpina-Standard-Regular-Trial.otf")
		format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Bold-Italic-Trial.otf")
		format("opentype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Bold-Trial.otf")
		format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Light-Italic-Trial.otf")
		format("opentype");
	font-weight: lighter;
	font-style: italic;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Light-Trial.otf")
		format("opentype");
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Medium-Italic-Trial.otf")
		format("opentype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Medium-Trial.otf")
		format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Regular-Italic-Trial.otf")
		format("opentype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Regular-Trial.otf")
		format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Thin-Italic-Trial.otf")
		format("opentype");
	font-weight: lighter;
	font-style: italic;
}

@font-face {
	font-family: "GT Alpina Condensed";
	src: url("fonts/GT-Alpina/GT-Alpina-Condensed-Thin-Trial.otf")
		format("opentype");
	font-weight: lighter;
	font-style: normal;
}

body {
	margin: 0;
	font-family: "GT Alpina";
	background-color: #dee3c6;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
