.home {
	background-color: #fefbf0;
	color: #43372e;
	font-family: "Grenette Pro", sans-serif;
}

.hero-section {
	margin: 50px 150px 50px 150px;
	text-align: center;
}

.hero-section h1 {
	font-weight: bold;
	font-size: 115px;
	color: #fefbf0;
	text-align: center;
	padding: 50px;
	font-family: "Grenette Pro", serif;
}

.subscribe-text-home {
	padding: 50px;
	font-size: 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.subscribe-text-home a {
	color: #fefbf0;
	text-decoration: none;
}

.subscribe-button-home {
	color: #fefbf0;
}

/* Media Queries */
@media (max-width: 768px) {
	/* Styles for mobile devices */
	.hero-section {
		padding: 100px 20px 0px 20px;
	}

	.hero-section h1 {
		font-size: 60px;
		padding: 20px;
	}

	.subscribe-text {
		padding-top: 100px;
		font-size: 24px;
	}
}
