.news-template {
	background-color: #fefbf0;
	display: flex;
	flex-direction: column;
	padding: 50px 150px;
	text-align: left;
	height: 76vh;
	color: #43372e;
}

.news-template h1 {
	font-size: 50px;
}

.news-template h2 {
	font-size: 30px;
}

.button-wrapper button {
	border: 5px solid;
	border-radius: 10px;
	padding: 15px;
	background-color: transparent;
	font-family: "GT Alpina";
	font-size: 25px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
}

.button-wrapper button:hover {
	color: #43372e;
	border-color: #43372e;
}

.button-wrapper button:active {
	transform: scale(0.95);
}

.preference-wrapper label {
	cursor: pointer;
	display: block;
	margin-bottom: 10px;
}

.preference-input {
	width: 100%;
	padding: 8px;
	font-size: 20px;
	border: none;
	background: none;
	border-bottom: 1px solid #ddd;
	transition: border-color 0.3s;
	font-family: "GT Alpina";
	color: #43372e;
}

.preference-input:focus {
	outline: none;
	border-color: #aaa;
	color: #43372e;
}

.editable-input {
	background: none;
	border: none;
	outline: none;
	margin-left: 10px;
	margin-bottom: 5px;
	color: #43372e;
	font-size: 30px;
	font-family: "GT Alpina";
	width: 900px;
}

.editable-input.title {
	margin-left: 0px;
	font-size: 40px;
	font-family: "GT Alpina";
	font-weight: bold;
}

.editable-line {
	border: none;
	border-top: 1px solid #ccc;
	margin: 5px 0;
}

.color-picker {
	padding-bottom: 50px;
	width: 50%;
}

.color-label {
	width: fit-content;
}

.color-values-wrapper {
	display: flex;
	align-items: center;
}

.color-values {
	margin-left: 20px;
	font-size: 30px;
}
