.news-template {
	display: flex;
	flex-direction: column;
	text-align: left;
	color: black;
	height: calc(100vh - 200px);
	padding: 100px 300px;
	overflow-y: scroll;
}

.news-template h2 {
	font-size: 30px;
}

.button-wrapper {
	margin: 25px 0px;
}

.button-wrapper button {
	border: 5px solid;
	border-radius: 10px;
	padding: 15px;
	background-color: transparent;
	font-family: "GT Alpina";
	font-size: 25px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
}

.button-wrapper button:hover {
	color: black;
	border-color: black;
}

.button-wrapper button:active {
	transform: scale(0.95);
}

.button-row-wrapper {
	display: flex;
	justify-content: center;
	gap: 40px;
}

.preference-wrapper {
	background-color: #fcf9e1;
	padding: 10px;
	margin-top: 50px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.preference-table {
	padding: 15px;
	border: 3px solid black;
	display: grid;
}

.preference-wrapper label {
	cursor: pointer;
	display: block;
	margin-bottom: 10px;
}

.preference-input {
	width: 100%;
	padding: 8px;
	font-size: 20px;
	border: none;
	background: none;
	border-bottom: 1px solid #ddd;
	transition: border-color 0.3s;
	font-family: "GT Alpina";
	color: black;
}

.preference-input:focus {
	outline: none;
	border-color: #aaa;
	color: black;
}

.editable-input {
	background: none;
	border: none;
	outline: none;
	margin-left: 10px;
	margin-bottom: 5px;
	color: black;
	font-size: 25px;
	font-family: "GT Alpina";
	width: 100%;
}

.editable-input.title {
	margin-left: 0px;
	font-family: "GT Alpina";
	font-weight: bold;
}

.editable-line {
	width: 100%;
	border: none;
	border-top: 1px solid #ccc;
	margin: 5px 0;
}

.color-picker {
	padding-bottom: 50px;
	width: 50%;
}

.color-label {
	width: fit-content;
}

.color-values-wrapper {
	display: flex;
	align-items: center;
}

.color-values {
	margin-left: 20px;
	font-size: 30px;
}
