body {
	font-family: "GT Alpina";
}

.main-container {
	background-color: #fefbf0;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0px 150px;
}

.main {
	text-align: left;
}

.greeting {
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 10px;
}

.welcome {
	font-size: 50px;
}

.grid {
	padding-top: 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 50px;
}

.square {
	position: relative;
	width: 250px;
	height: 250px;
	border-radius: 10px;
	border: 5px solid transparent;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	transition: all ease-in-out 0.3s;
}

.content {
	width: 200px;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border-radius: 10px;
	opacity: 1;
	transition: opacity 0.5s;
}

.flavor {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}

.name {
	font-size: 40px;
	font-weight: bold;
	opacity: 1;
	transition: opacity 0.5s;
}

@media (max-width: 768px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

.create-digest {
	position: relative;
	width: 250px;
	height: 250px;
	border-radius: 10px;
	border: 5px solid #43372e;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
